body{
  margin-left:auto;
  margin-right: auto;
background-color: #F6EDDD !important;

}

a {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

button{
  font-family: "poller one", sans-serif;
}

.btn{
  font-family: "poller one", sans-serif !important;
}
.brands{
  height: 1155px;
  background-image: url("../images/coffee-brands-beans.png");
  background-repeat: no-repeat;
  background-position: left 2% top 3%;
  background-size: 90%;
}
.brands ul{
  row-gap: 100px;
}
.calendars{
   background-image: url("../images/Group\ 32.png");
   background-position: left 10% top 30%;
   background-repeat: no-repeat;
   height: 538px;
}

.calendars-left-side{
  padding-left: 2rem;
 padding-top: 10rem;
}

.celebrating-coffee{
  padding-bottom: 30px;
  align-items: center;
}
.custom-btn {
  font-family: 'poller one', sans-serif;
  color: #5E350D!important;
}

.curve{
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.curve-bottom{
  margin-top:-40px;
}

.curve-brands{
  margin-bottom: -40px;
}

.curve-celebrate{
  margin-bottom: -30px;
}

.curve-bottom-celebrating{
  margin-top: -20px;
}
.d-flex ul{
  justify-content: space-between;
}


.date{
  font-size: 64px !important;
}

 h2{
  font-family: "poller one", sans-serif;
}


.happening li {
  width: 300px;
}

.hero{
  margin-top: -40px;
  padding-left: 2rem;
}

.hero-text{
  padding-top: 60px;
}
.hero h1{
  font-family: 'poller one', sans-serif;
  font-size: 6rem;
  padding-bottom: 15px;
  padding-top: 12px;
}
.hero h6{
  font-family: 'albert sans', sans-serif;
  font-size: 2rem;
}

h6{
  font-family: 'albert sans', sans-serif;
  font-size: 3.6rem;
}

.hero{
  background-image: url(../images/hero-coffee.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 695px;
}

.left-images{
  margin-right: -15%;
}
.right-images{
  margin-left: -5%;
  margin-right: 10%;
}

.navbar h2{
  font-size: .75rem;
}
.navbar{
  padding: 0px !important;
}

.navbar-nav{
  padding: 1.6rem;
}
.nav-item{
  margin-left: 1.5rem;
}


p {
  font-family: "albert sans", sans-serif;
}
#overlay{
  position: relative;
  right: -1100px;
  bottom: -60px;
}

.right-side{
  padding-top: 150px;
}

ul{
  justify-content: space-between;
}

li::marker { content: none; }

@media  (max-width: 728px) {
  .hero-text{
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}

