body{
  margin-left:auto;
  margin-right: auto;
background-color: #F6EDDD !important;

}
.img{
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

button{
  font-family: "poller one", sans-serif;
}

.btn{
  font-family: "poller one", sans-serif !important;
}
.brands{
  
  background-image: url("../images/coffee-brands-beans.png");
  background-repeat: no-repeat;
  background-position: left 2% top 3%;

}
.brands ul{
  row-gap: 50px;
  margin-bottom: 80px !important;
}
.btn-green{
  background-color: #506F4F !important;
  color:#F6EDDD !important;
}
.calendars{
   background-image: url("../images/Group\ 32.png");
   background-position: left 10% top 30%;
   background-repeat: no-repeat;
   height: 538px;
}

.calendars-left-side{
  padding-left: 2rem;
 padding-top: 10rem;
}

.celebrating-coffee{
  padding-bottom: 30px;
  align-items: center;
}
.custom-btn {
  font-family: 'poller one', sans-serif;
  color: #5E350D!important;
}

.curve{
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.curve-bottom{
  margin-top:-50px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.curve-brands{
  margin-bottom: -30px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.curve-celebrate{
  margin-bottom: -50px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.curve-bottom-celebrating{
  margin-top: -20px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.d-flex ul{
  justify-content: space-between;
}


.date{
  font-size: 64px !important;
}

.form {
  background-color: #8A4E13;
 width: fill;
 border-radius: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
 h2{
  font-family: "poller one", sans-serif;
}


.happening li {
  width: 300px;
}

.hero{
  margin-top: -40px;
  padding-left: 2rem;
}

.hero-text{
  padding-top: 60px;
}
h1{
  font-family: 'poller one', sans-serif;
  font-size: 6rem;
  padding-bottom: 15px;
  padding-top: 12px;

}
.hero h1{
  font-family: 'poller one', sans-serif;
  font-size: 6rem;
  padding-bottom: 15px;
  padding-top: 12px;
}
.hero h6{
  font-family: 'albert sans', sans-serif;
  font-size: 2rem;
}

h6{
  font-family: 'albert sans', sans-serif;
  font-size: 3.6rem;
}

.hero{
  background-image: url(../images/hero-coffee.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 695px;
}

.location{
  margin-left: 4rem;
}

.left-images{
  margin-right: -15%;
}
.right-images{
  margin-left: -5%;
  
}

.navbar h2{
  font-size: .75rem;
}
.navbar{
  padding: 0px !important;
}

.navbar-nav{
  padding: 1.6rem;
}
.nav-item{
  margin-left: 2rem !important;
}

#overlay{
  position: relative;
  position: relative;
  right: -900px;
  bottom: 125px;
}

.footer-image
{
  position: relative;
  right: -900px;
  bottom: 125px;
}
p {
  font-family: "albert sans", sans-serif;
}
.socials{
margin-left: 50rem !important;
display: flex;
width: auto;
justify-content: center;
justify-content: space-evenly;

}


.right-side{
  padding-top: 150px;
}

ul{
  justify-content: space-between;
}

li::marker { content: none; }

@media only screen and (max-width: 720px) {
  
/*nav*/
.nav-btn{
  display:none !important;
}

.nav-item{
  padding-top: 1rem;
  margin-left: -10rem;
}

/*hero*/
.curve{
  margin-bottom: -2px;
}
.hero h1{
  font-size: 3rem;
}
.hero{
  background-image: url(../images/hero-coffee.png);
  background-position: left 40% top 400%;
  background-repeat: no-repeat;
  background-size: 150%;
}
/*calendar*/
.date{
  font-family: "albert sans", sans-serif;
  font-size: 12px !important;
  width: 100%;
}
.calendars {
  flex-direction: column !important;
 flex-wrap: wrap !important;
}
.right-side{
  width: 100%;
}


/*brands*/
  #overlay{
    position: relative;
    right: -450px;
    bottom: -80px;
    size: -50%;
    max-width: 100%;
     width: 15%; 
     height: auto !important; 
     overflow: hidden;
  }

.curve-brands{
  margin-bottom: -50px;
}
/*happening*/
.happening h3{
  margin-bottom: 1rem !important;
}
/*celebrating*/
.right-images{
  position: relative;
  max-width: 50%;
   width: 30%; 
   height: 30% !important; 
   overflow: hidden;

}
.left-images{
  position: relative;
  max-width: 50%;
   width:30%; 
   height: 30% !important; 
   overflow: hidden;

}
/*footer*/
 
}

@media only screen and (min-width: 721px)
{
  .nav-btn{
    display:none !important;
  }
  
  .nav-item{
    padding-top: 1rem;
    margin-left: -10rem;
  }
  #overlay{
    position: relative;
    right: -700px;
    bottom: 30px;
   
    max-width: 100%;
     width: 20%; 
     height: auto !important; 
     overflow: hidden;
  }
 
  }



